models/
*.safetensors
*.bin
*.pt
*.h5

__pycache__/
*.pyc

.ipynb_checkpoints/

logs/

NOTE PER PROGETTO SENTENCE_SPLITTIN.MD

performance sentence splitter.txt

sentence_splitter.pptx

sentence_splitter.pdf